@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.about {
  @include flex($dir: column, $justify: space-between, $gap: 1.25rem);
  margin-bottom: 3rem;

  @include media(desktop) {
    margin-bottom: unset;
  }

  &__heading-wrapper {
    @include flex($dir: column, $justify: space-between, $gap: 1.25rem);
  }

  &__action-wrapper {
    @include flex($dir: row, $justify: flex-start, $gap: 1.25rem);
    flex-wrap: wrap;
  }
}

.social {
  display: flex;
  gap: 0.875rem;
  flex-wrap: wrap;
}
